# FastAPI & friends
aiofiles==0.6.0
fastapi==0.63.0
gunicorn==20.1.0
uvicorn[standard]==0.13.4

# Clients
httpx==0.17.1

# Google stuff
google-cloud-storage==1.37.0

# Image manipulation
img2pdf==0.4.0
Pillow==8.2.0 

# Production related 
sentry-sdk==0.19.4
